.main-container
{
width:75hw;
height:98vh;
border:2px solid black;
}
.header
{
width:75hw;
height:auto;
border:1px solid black;
margin:6px;
}
.logo
{
float:left;
margin:5px;
}
.brand-name
{
margin-top:10px;
margin-bottom:5px;
margin-right:600px;
font-size:25pt;
}
.userIconImage
{
margin-left:350px;
}
.usericon
{
font-size:20px;
margin-left:1px;
}
.logout
{
margin-left:35px;
}
.mid-container
{
width:75hw;
height:80vh;
border:1px solid white;
margin:5px;
}
.mid-left-container
{
width:10hw;
height:78vh;
border:1px solid black;
margin:5px;
float:left;
padding:2px;
}
.mid-right-container
{
width:75hw;
height:78vh;
margin-left:98px;
margin-top:5px;
margin-right:5px;
border:1px solid black;
padding:3px;
overflow:scroll;
}
.right-top-container
{
height:38vh;
margin-left:3px;
margin-top:5px;
margin-right:5px;
border:1px solid black;
padding:3px;
overflow:scroll;
}
.right-bottom-container
{
height:26vh;
margin-left:3px;
margin-top:5px;
margin-right:5px;
border:1px solid black;
padding:3px;
}
.add-link
{
text-align:right;
padding:5px;
width:200px;
}
.error
{
color:red;
}
.footer
{
text-align:center;
width:75hw;
height:7vh;
margin:5px;
border:1px solid white;
}
.serial-number
{
width:90px;
}
.designations
{
padding:5px;
width:190px;
}
.edit-link
{
width:90px;
}
.delete-link
{
width:90px;
}
.employee-id
{
width:140px;
}
.employee-name
{
width:200px;
}
.emp-serial-number
{
text-align:right;
padding:5px;
}
.details-label
{
background:#ff8000;
color:white;
padding-left:5px;
padding-right:5px;
}